
*{
 background-color:
} 
.class1 p{
    background-image: url("images/eggs.jpg"); 
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
} 
h1 {
    border-style:solid;
    border-width: 5px 10px 20px 2px; 
    border-radius: 5px;
   border-color:  darkseagreen yellowgreen greenyellow green
} 
h2 {
    border-style:solid dotted double dashed;
    border-width: 5px 10px 20px 2px;
   border-color:  darkseagreen yellowgreen greenyellow green
}
.class1 p{
    color: aqua
}
p{
    color: red
}
.class1 h1{
    color: blueviolet
}
.class2{
    border-style:solid;
    border-width: 5px 10px 20px 2px; 
    border-radius: 5px;
   border-color:  darkseagreen yellowgreen greenyellow green
} 